<!DOCTYPE html>

<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        
        <nav class="navbar navbar-default navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                <div>
                    <ul class="nav justify-content-end">
                        <li class="nav-item active"><a class="nav-link" hre="/">Login</a></li>
                        <li class="nav-item active"><a class="nav-link" hre="/">Sign up</a></li>
                        <li class="nav-item active"><a class="nav-link" hre="/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>