<% include partial/header %>
<h1>The Posts are :- </h1>
<ol>
<% for (var i = 0; i < newPosts.length; i++) { %>
    <li>Title : <%= newPosts[i].title %>, Author : <%= newPosts[i].author %></li>
<% } %>
</ol>

<% include partial/footer %>